body {
  font-family: "Rajdhani", sans-serif;
  margin: 0;
  padding: 0;
}

.hero {
  width: 100%;
  min-height: 100vh;
  background-image: url("../assets/img.jpeg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20px;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.4);
  z-index: 0;
}

.innercontent {
  width: 100%;
  max-width: 1272px;
  background-color: rgba(0, 0, 0, 0.8);
  border-radius: 30px;
  z-index: 1;
  display: flex;
  align-items: center;

  justify-content: space-between;
  padding: 40px 60px;
  flex-wrap: wrap;
  box-sizing: border-box;
}

.hero-text {
  color: white;
  font-weight: 700;
  flex: 1 1 60%;
  margin: 0;
}

.hero-text h1 {
  font-size: 80px;
  margin: 10px 0;
}

.hero-text h2 {
  font-size: 55px;
  margin: 10px 0;
}

.hero-text p {
  font-size: 45px;
  margin: 10px 0;
}

.green {
  color: #00ff00;
}

.cta-button-wrapper {
  display: flex;
  align-items: center;
  padding-top: 20px;
}

.cta-button {
  font-family: "Rajdhani", sans-serif;
  font-size: 40px;
  font-weight: 700;
  height: 70px;
  width: 100%;
  margin-top: 200px;
  padding: 12px 24px;
  color: #fff;
  background-color: #008000;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  transition: 0.3s ease-in-out;
}

.cta-button:hover {
  background-color: #fff;
  color: #008000;
}

@media (max-width: 992px) {
  .hero-text h1 {
    font-size: 60px;
  }

  .hero-text h2 {
    font-size: 40px;
  }

  .hero-text p {
    font-size: 30px;
  }

  .cta-button {
    font-size: 28px;
    height: 60px;
  }
}

@media (max-width: 768px) {
  .innercontent {
    flex-direction: column;
    align-items: flex-start;
    padding: 30px;
  }

  .hero-text {
    flex: 1 1 100%;
    margin-bottom: 20px;
  }

  .cta-button-wrapper {
    flex: 1 1 100%;
    justify-content: center;
  }

  .hero-text h1 {
    font-size: 42px;
  }

  .hero-text h2 {
    font-size: 30px;
  }

  .hero-text p {
    font-size: 22px;
  }

  .cta-button {
    font-size: 20px;
    height: 50px;
  }
}

@media (max-width: 480px) {
  .hero-text h1 {
    font-size: 38px;
  }

  .hero {
    width: 100%;
    min-height: 50vh;

    background-image: url("../assets/img.jpeg");

    padding: 10px;
    text-align: center;
  }

  .hero-text h2 {
    font-size: 32px;
  }

  .hero-text p {
    font-size: 28px;
  }

  .cta-button {
    font-size: 18px;
    height: 45px;
  }

  .innercontent {
    justify-content: center;
    align-items: center;
    padding: 10px;
  }
}