html,
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  background-color: white;
  color: black;
  text-align: center;
  font-family: "Rajdhani", sans-serif;
}

.slider {
  position: relative;
  width: 100%;
  max-width: 100%;
  height: 700px;
  background-color: #000;
  padding: 20px;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
}
.slider-image-wrapper {
  width: 100%;
  height: 100%;
  overflow: hidden;
  position: relative;
}

.slider-track {
  display: flex;
  height: 100%;
  transition: transform 0.8s ease-in-out;
}

.slider-image {
  flex: 0 0 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 40px;
}

.slider img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 40px;
}

.nav-btn {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background: none;
  border: none;
  cursor: pointer;
  color: #000;
  font-weight: bold;
  padding: 15px;
  font-size: 50px;
  transition: transform 0.3s ease, color 0.3s ease;
  z-index: 2;
}

.nav-left {
  left: 20px;
}

.nav-right {
  right: 20px;
}

.nav-btn:hover {
  color: #00c853;
}

.calendar-nav {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;

  font-size: 40px;
  margin-top: 10px;
  /* margin-bottom: 50px; */
  font-weight: bold;
}
.left-calendar,
.right-calendar {
  padding: 0px;
}

.calendar-nav button {
  background: none;
  border: none;
  font-size: 35px;
  color: black;
  cursor: pointer;
  padding: 0 20px;
}
.weekdays-inside-nav {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0;
  padding: 0 10px;
  overflow: hidden;
  width: 100%;
  box-sizing: border-box;
}
.weekdays {
  display: flex;
  justify-content: center;
  gap: 10px;
  overflow-x: hidden;
  flex-wrap: nowrap;
  max-width: 100%;
}
.weekdays::-webkit-scrollbar {
  height: 6px;
}

.weekdays::-webkit-scrollbar-thumb {
  background-color: #ccc;
  border-radius: 3px;
}

.weekdays::-webkit-scrollbar-track {
  background: transparent;
}

.day {
  background: white;
  padding: 12px 8px;
  min-height: 100px;
  min-width: 100px;
  border-radius: 5px;
  color: black;
  border: 2px solid black;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-weight: 500;

  flex-shrink: 0;
}

.day.disabled {
  opacity: 0.4;
  pointer-events: none;
  display: none;
}

.day span:first-child {
  font-size: 20px;
  font-weight: bold;
}

.day span:last-child {
  font-size: 20px;
  opacity: 0.8;
  margin-top: 10px;
}

.day.selected {
  background-color: #00c853;
  color: white;
  border: 1px solid green;
}

.active {
  background-color: #00c853;
  color: #000;

  font-weight: bold;
}

.footer-msg {
  font-family: "Rajdhani", sans-serif;
  font-weight: bold;
  font-size: 40px;
  margin-bottom: 50px;
  color: #000;
}



/* Media Queries for Responsiveness */
@media (max-width: 1200px) {
  .slider {
    height: 600px;
  }

  .calendar-nav {
    font-size: 30px;
    margin-top: 80px;
    margin-bottom: 40px;
  }

  /* .left-calendar {
    position: relative;
    right: 190px;
    font-size: 30px;
    align-self: start;
  }

  .right-calendar {
    position: relative;
    left: 190px;
    font-size: 30px;
    align-self: end;
  } */

  .nav-btn {
    font-size: 40px;
  }

  .day {
    min-width: 80px;
    min-height: 80px;
    padding: 10px;
  }

  .day span:first-child {
    font-size: 18px;
  }

  .day span:last-child {
    font-size: 16px;
  }

  .footer-msg {
    font-size: 30px;
  }
}

@media (max-width: 768px) {
  .slider {
    height: 400px;
    width: 100%;
    padding: 10px;
  }

  .slider img {
    height: 100%;
    width: 90%;
  }

  .calendar-nav {
    font-size: 25px;
    margin-top: 60px;
    margin-bottom: 30px;
  }

  /* .left-calendar {
    position: relative;
    right: 180px;
    font-size: 30px;
    align-self: start;
  }

  .right-calendar {
    position: relative;
    left: 180px;
    font-size: 30px;
    align-self: end;
  }
 */

  .nav-btn {
    font-size: 35px;
  }

  .day {
    min-width: 70px;
    min-height: 70px;
    padding: 8px;
  }

  .day span:first-child {
    font-size: 16px;
  }

  .day span:last-child {
    font-size: 14px;
  }

  .footer-msg {
    font-size: 25px;
  }
}

@media (max-width: 480px) {
  .slider {
    height: 300px;
    width: 100%;
  }

  .slider img {
    height: 100%;
    width: 100%;
  }

  .calendar-nav {
    font-size: 20px;
    margin-top: 40px;
    margin-bottom: 20px;
  }

  /* .left-calendar {
    position: relative;
    right: 100px;
    font-size: 30px;
    align-self: start;
  }

  .right-calendar {
    position: relative;
    left: 100px;
    font-size: 30px;
    align-self: end;
  } */

  .nav-btn {
    font-size: 30px;
    padding: 10px;
  }

  .weekdays {
    justify-content: flex-start;
    overflow-x: scroll;
  }

  .day {
    min-width: 60px;
    min-height: 60px;
    padding: 6px;
  }

  .day span:first-child {
    font-size: 14px;
  }

  .day span:last-child {
    font-size: 12px;
  }

  .footer-msg {
    font-size: 20px;
  }
}

@media (max-width: 360px) {
  .slider {
    height: 200px;
    width: 100%;
    padding: 10px;
  }
  .weekdays-inside-nav {
    margin: 0px;
  }
  .slider img {
    height: 100%;
    width: 90%;
  }

  .calendar-nav {
    font-size: 20px;
    gap: 0px;
  }

  .nav-btn {
    font-size: 30px;
    padding: 10px;
  }

  .weekdays {
    justify-content: flex-start;
    overflow-x: scroll;
  }

  .day {
    min-width: 50px;
    min-height: 30px;
  }

  .day span:first-child {
    font-size: 14px;
  }

  .day span:last-child {
    font-size: 12px;
  }

  .footer-msg {
    font-size: 20px;
  }
}

.left-calendar,
.right-calendar {
  font-size: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0px;
}
