.booking-wrapper {
  height: 100vh;
  display: flex;
  flex-direction: column;
  padding: 20px;
  overflow: hidden;
}

.back-button {
  background: transparent;
  border: none;
  font-weight: 700;
  font-size: 40px;
  display: flex;
  align-items: center;
  gap: 10px;
  padding: 10px;
}

.back-button:hover {
  color: rgb(118, 123, 123);
  cursor: pointer;
}

.back-button img {
  width: 30px;
  height: 30px;
}

.date {
  font-weight: 700;
  font-size: 40px;
  display: flex;
  align-items: center;
  gap: 20px;
}

.back-icon,
.next-icon {
  width: 30px;
  height: 30px;
  cursor: pointer;
}

.next-icon {
  transform: rotate(180deg);
}

.booking-content {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  gap: 20px;
  margin-top: 10px;
}

.expert-button {
  width: 180px;
  height: 40px;
  background: black;
  color: white;
  border-radius: 5px;
  font-size: 20px;
  font-weight: 700;
  padding: 0 10px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.print-icon {
  width: 30px;
  height: 30px;
}

.table-container {
  flex-grow: 1;
  overflow-y: auto;
  margin-top: 20px;
}

table {
  width: 100%;
  border-collapse: separate;
  border-spacing: 0 10px;
  min-width: 800px;
}

th,
td {
  padding: 12px;
  text-align: center;
}

th {
  background-color: #006400;
  color: white;
  border: 3px solid white;
}

td {
  background-color: #d6d6d6;
  border-right: 3px solid black;
}

td:last-child {
  border-right: none;
}

tr {
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.05);
}

td.status {
  font-weight: bold;
}

.table-container::-webkit-scrollbar {
  width: 8px;
}

.table-container::-webkit-scrollbar-thumb {
  background-color: rgba(0, 0, 0, 0.2);
  border-radius: 4px;
}

@media (max-width: 768px) {
  .back-button {
    font-size: 28px;
  }

  .back-button img {
    width: 24px;
    height: 24px;
  }

  .expert-button {
    width: 160px;
    font-size: 18px;
  }

  .date {
    font-size: 28px;
  }
}

@media (max-width: 480px) {
  .booking-content {
    justify-content: center;
  }

  .back-button {
    font-size: 22px;
  }

  .back-button img {
    width: 20px;
    height: 20px;
  }

  .expert-button {
    width: 100%;
    justify-content: center;
    font-size: 16px;
  }

  .date {
    font-size: 22px;
  }

  table {
    font-size: 12px;
    min-width: 600px; /* Enables horizontal scroll on small screens */
  }

  .table-container {
    overflow-x: auto; /* Add horizontal scroll for small screens */
  }
}
